version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.6.3
    environment:
      BUNDLE_PATH: vendor/bundle
    steps:
      - checkout
      - restore_cache:
          key: test-bundler-{{ checksum "Gemfile.lock" }}
      - run:
          name: Install project dependencies
          command: bin/install
      - save_cache:
          key: test-bundler-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
            - ~/.bundle
      - persist_to_workspace:
          root: .
          paths:
            - vendor/bundle

  test:
    docker:
      - image: circleci/ruby:2.6.3
    environment:
      BUNDLE_PATH: vendor/bundle
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Test the project
          command: bundle exec rspec hello_world_spec.rb

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
